<%- include('../sections/header.ejs') %>
<%- include('../sections/menu.ejs') %>
<table class="styled-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Number of customers</th>     
        </tr>
    </thead>
    <tbody>
        <% usr.forEach(function(ur){ %>
        <tr class="active-row">
            <td><%= ur.City %></td>
            <td><%= ur.Number_Cus %></td>
        </tr>
        <% }); %>
    </tbody>
</table>