
<%- include('../sections/header.ejs') %>
<%- include('../sections/menu.ejs') %>
<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>StreetAddress</th>
        </tr>
    </thead>
    <tbody>
        <% usr.slice(1,3).map(function(ur){ %>
        <tr class="active-row">
            <td><%= ur.FullName %></td>
            <td><%= ur.StreetAddress %></td>
        </tr>
        <% }); %>
    </tbody>
</table>



