<footer class="footer">
    <div>

        <h6 class="footer__title">Liên hệ</h6>
        <ul class="footer__list">
            <li><a class="footer__a" href="mailto:s3777091@rmit.edu.vn">s3777091@rmit.edu.vn</a></li>
        </ul>

        <div class="footer__copyright">
            <small class="spane__year">© <span id="currentYear"></span> SHOPEE 2.0.</small>
        </div>
    </div>
</footer>
<script src="/js/menu.js"></script>

<script src="/js/Cart.js"></script>